@import  url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #FAFAFA;
}

#header {
	width: 100%;
	height: 80px;
	background: #00592B;
	box-shadow: 0px 2px 4px gray;
}

#navbar {
	width: 510px;
	height: 80px;
	float: right;
}

#navbar>li {
	width: 100px;
	list-style: none;
	float: left;
	border-left: 1px solid gray;
}

li>a {
	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	font-family: cursive;
	font-size: 15px;
	text-decoration: none;
}

li>a:hover {
	background: #FD9657;
	color: black;
}

#logo img {
	width: 135px;
	float: left;
	padding: 10px;

}

/*Butonul de dat click*/
#buf {
	text-align: center;
	margin-top: 75px;
}

/* Numarul de rugaciuni*/
#num {
	font-size: 120px;
	text-align: center;
	padding-top:115px;
	font-family: Roboto;
	font-weight: bold;

}

#reset {
	text-align: center;
	margin-top: 30px;
}




























